
body {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    position: relative;
    background-color: #FDFFFC;
}

/* For navigation bar (Whole Website)*/
.nav {
    background-color: #4E9EED; 
    color:#ffffff;
    font-weight: bold;
    list-style: none;
    text-align: center;
    overflow: hidden;
    padding: 20px 0 20px 0;
    margin: 0;  
}

.nav > li {
    line-height: 40px;
    display: inline-block;
}

.nav > li > a {
    text-decoration: none;
    color: #ffffff; 
    padding: 32px 25px;
    padding-right: 20px;

}

.nav > li > a:hover {
    background-color: rgb(100, 89, 89);
}

.nav > li > a:active {
    background-color: rgb(67, 176, 184);
}

.nav .logo {
    float: left;
    padding-left:60px;
    font-size: 1.4em;
    line-height: 40px;
    text-decoration: none;
    color: #ffffff;
}

/* Giant image under the nav bar (HOME page)*/

#image{
    background-position: center-right;
    min-height: 500px; 
    margin-bottom: 30px;
    background-color: rgb(#1882ac91); 
    /* background-image: url('../static/corrugated-decor-decoration-933149.jpg') */
}

/* For making grids in the website (HOME PAGE) */

.grid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 120px;
    grid-auto-rows: minmax(400px,auto);
    grid-gap : 3px;
    background: rgb(10, 79, 148);
     
}

.grid > div {
    background-color: #4E9EED;
    padding: 2em;
    color: #ffffff;
    line-height: 1.4em;
    text-align: left;
    border: 1px solid black;
    margin-bottom: 10%;
} 

 .grid .head {
    background-color: #4E9EED; 
    grid-column: 1/-1;
    margin-bottom: 1%; 
    align-items: start;
    text-align: center;
    color: #ffffff;
    line-height: 50%;
    border: none;
}

.grid .inner-grid {
    display: grid;
    grid-gap: 3px;
    background-color: #1a59e091;
    border: 2px solid black; 
}

/* For the things invosystems specilises in (TITLES) */
.home-titles {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

/* For the footer to be positioned at the bottom*/
.main-footer {
    position: absolute;
    color: #ffffff;
    height: 20px;
    background-color: #38393b91;
    bottom: 0;
    right: 0;
    left: 0;
}



