
/* For viewing purposes */
@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

/* Microsoft IE browsers*/
@-ms-viewport {
    width: device-width ;
    zoom: 1;
}



/* start of code for the layout page */
/* Body of the webpage */  
body {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    position: relative;
   /* background-color: #f8f8ff; */
    background:  rgb(255, 255, 255);
}

/* For navigation bar (Whole Website)*/
.nav {
    background-color: rgb(52, 196, 184);
   /* background-color: #4E9EED; */
    color:#ffffff;
    font-weight: bold;
    list-style: none;
    text-align: center;
    overflow: hidden;
    padding: 20px 0 20px 0;
    margin: 0;  
}

.nav > #wholeNav > #innerNav > li {
    line-height: 40px;
    display: inline-block;
}

.nav > #wholeNav > #innerNav > li > a {
    text-decoration: none;
    color: #ffffff; 
    padding: 32px 25px;
    padding-right: 20px;
    
}

.nav > #wholeNav  > #innerNav > li > a:hover {
    background-color: rgb(100, 89, 89);
}


.nav .logo {
    float: left;
    padding-left:60px;
    font-size: 1.4em;
    line-height: 40px;
    text-decoration: none;
    color: #ffffff;
}

#hamburger {
    float: right;
    margin-top: 10px; 
    padding-right:60px;
    font-size: 1.4em;
    display: none;
}

/* Start of code for the home page */
/* Giant image under the nav bar (HOME page) */
.image {
    display: flex;
    align-items: center;
    background-position: center;
    min-height: 500px; 
}


/* Content for the image*/
.image #content {
    position: absolute;
    top: 20%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -200%);
    font-size: 50px;
    animation-name: changeText;
    animation-duration: 3s;
    animation-fill-mode: both;  
     
}

/* animation for the content in the image */
@keyframes changeText {
    from {
        color: black;
    }

    to {
        color: #ffffff;
    }
}


#imageChange {
    background-position: center;
    filter: brightness(50%) blur(1px); 
    height: auto;
    width: 100%;
    animation-name: change;
    animation-duration: 3s;
    animation-fill-mode: both;  
}

/* animation for the image in the webpage(HOME) */
@keyframes change {
    from {
        filter: brightness(100%);
    }

    to {
        filter: brightness(50%);
    }
}

/* For making grids in the website (HOME PAGE) */

.grid {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 80px;
    grid-auto-rows: minmax(400px,auto);
    grid-gap : 3px;  
}

.grid > div {
    background-color: #4E9EED;
    padding: 1em;
    color: #ffffff;
    line-height: 1.4em;
    text-align: left;
    border: 1px solid black;
    margin-bottom: 10%;
} 

 .grid .head {
    background-color: rgb(52, 196, 184);
    grid-column: 1/-1;
    margin-bottom: 0%; 
    text-align: center;
    color: #ffffff;
    line-height: 1%;
    border: none;
}


/* Button in the home page*/
#special {
    font-weight: bold;
    color: #ffffff;
    margin-top: 0.32%; 
    font-size: 1.5em;
    background: rgb(206, 182, 45);
    border-radius: 10%;  
    padding: 0.5%;
    box-shadow: 3px 5px rgb(163, 145, 41);
    border:none;

}

/* a nav bar for the content there is (HOME PAGE) */
#sNav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
    grid-auto-rows: minmax(0.2%, auto);
    text-align: center;
    color: #aaa4a4;
    background: #242222;
}

/* Content below the snav*/
#homeContent {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    object-fit: cover;
    grid-auto-rows: minmax(400px,auto); 
}



/* Text within the boxes*/
.homeText {
    color: rgb(54, 174, 221);
    padding: 20px;
    border: 3px solid burlywood;
}

.homeText > h1 {
    margin-top: 10%;
    font-weight: bold;

}

.homeText > p {
    font-weight: bold;
    font-size: 1.1em;
    color: #bcbe9e;
    line-height: 1.7em;
    float: right;
}

/* sections in the home page */
#consultContent {
    background: #000 url('.\\consult.jpeg');
    background-repeat: no-repeat;
}

#proContent {
    background: #EDDEA4 url('.\\products.jpeg');
    background-repeat: no-repeat;
}

#learnContent {
    background: #EDDEA4 url('.\\learning.jpeg');
    background-repeat: no-repeat;
}

#iotContent {
    background: rgb(88, 77, 32) url('.\\internet.jpeg');
    background-repeat: no-repeat;
}

#blockContent {
    background: rgb(190, 174, 106) url('.\\blockchain.jpeg');
    background-repeat: no-repeat;
}

#adverContent {
    background: #4b1f1f;
}


/* Start of CSS for bigData page */

/* Sections in the css page */
.sections_Data {
    color: #ffffff;
    padding: 2em;   
}

.sections_Data > h1 {
    color: antiquewhite;
    font-weight: bold;
    margin-bottom: 8%;  
}

/* The entire section of the bigdata page */
#wholeSection {
    display: none;
}

#bigDataSection, #serviceSection {
    display: grid;
    grid-auto-rows: minmax(500px, auto);
    grid-template-columns: 2fr 2fr;
    margin-left: 6%;
    margin-right: 6%;
}

.sectionOne {
    background: rgb(5, 35, 65);
}

.sectionTwo{
    background: rgb(12, 52, 92);
}

.sectionThree{
    background: #204174;
}

.sectionFour {
    background: #2d5188;
}

.innerSection , .list{
    font-size: 1.2em;
    line-height: 1.7em;
    text-align: left;
}


/*contact us */

#contact {
    display: grid;
    text-align: center;
    grid-auto-rows:minmax(60px,auto);
    width: 100%;
    color: #ffffff;
    background: #242222;
}

/* The btn in contact us */
#contactBtn {
    background: #204174;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    filter: brightness(100%);
}

#contactBtn > a {
    text-decoration: none;
    color: #ffffff;
}

#contactBtn:active {
    transform: translateY(4px);
    filter: brightness(70%);
}

/* Button to scroll to the top */
#scrollTop , #scrollTopAbout, #scrollTopService, #scrollTopProj{
    color: #ffffff;
    float: right;
    margin-right: 3%;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    background: rgb(60, 128, 60);

}

/* Start of css for services page */


.strongClass {
    font-size: 1.2em;

}


/* start of css for Projects page */



#projectSection {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 500px; 
    grid-auto-rows:minmax(500px,auto);
    margin-left: 6%;
    margin-right: 6%;
    color: #ffffff;

}

/* slide show display */
#projectDisplay {
    background: #3b3232;
    grid-column: 1/-1;
    border: 2px solid white;
}



#projectDisplay > h1 {
    overflow: hidden;
    text-align: center;
    font-size: 4em;
    animation: typer 5s steps(50, end);
    margin: 12% auto;
    white-space: nowrap;
}

#line {
    animation: blink .75s step-end infinite;
    color: red;
    font-size: 0.8em; 
    
}

@keyframes typer {
    from {
        width: 0%;
    }

    to {
        width: 100%
    }
}

 @keyframes blink {
    from, to { color: transparent }
    50% { color: red; }
}


.subTitle {
    text-align: center;
}

/* Projects below the display */

#tech {
    background: #225dca;
}

#BFSI {
    background: #863d3d;
}

#teleCom {
    background: #183627;
}

#sports {
    background: #173b70;
}

.textProjects {
    text-align: center;
    font-size: 4em;
    margin-top: 12%;
}

/* start of css for aboutUs page */
#wholeAbout {
    display: none;
}

#aboutWhole {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-auto-rows: minmax(530px,auto);
    margin-left: 6%;
    margin-right: 6%;
    color: #ffffff;
}

/* For text heading in the about page */
.textClass {
    color:antiquewhite;
    text-align: center;
    margin-top: 17%;
    cursor: pointer;
    transition-timing-function: ease-in-out;

}

.textClass:hover {
    font-size: 3em;
    font-weight: bold;
    transition-duration: 0.2s;     
}

.textClass:active {
    color: #aaa4a4;
}

/* for text in the box */
.innerAbout {
    margin-left:3%;
    margin-right: 3%;  
    padding: 1%;
    font-size: 1.2em;
    line-height: 1.7em;
    text-align: left;
    cursor: pointer;
}

/* Sections in the about page */
#aboutOne {
    background: rgb(5, 35, 65);
}

#aboutTwo {
    background: rgb(12, 52, 92);
}

#aboutThree {
    background: #204174;
}

#aboutFour {
    background: #2d5188;
}

#textFour {
    text-align: center;
    list-style: none;
    text-decoration: none;
}

/* feedback button the website */
#feedBack {
    color: #ffffff;
    background: #204174;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    filter: brightness(100%);
}





/* FOR MOBILE */
@media screen and (max-width: 964px) {

    /* Layout page*/
    
    

    
    /* image in the home page (Start of home page)*/
    #imageChange {
        height: 400px;
    }

    #content {
        font-size: 30px;
        top: 20%;
    }
        

    #wholeNav {
        display: none;
    }

    #innerNav {
        margin-top: 40px;
        background: rgb(52, 196, 184);
        display: grid;
        grid-template-columns: auto;
        grid-auto-rows: minmax(50px, auto);
    }

    #innerNav > li {
        background: #183627;
    }

    #innerNav > li:active {
        background: #3d4240;
    }

    .nav > #wholeNav > #innerNav > li > a {
        text-decoration: none;
        color: #ffffff; 
        padding: 10px;
        padding-right: 20px;
        
    }


    #sNav {
        display: none;
    }

    #hamburger {
        float: right;
        margin-top: 10px; 
        padding-right:60px;
        font-size: 1.4em;
        display: block;
    }

    #homeContent {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        object-fit: cover;
        grid-auto-rows: minmax(400px,auto); 
    }

    #contact > h3 > span {
        display: none;
    }

    #contactBtn {
        float: left;
        margin-left: 3%;

    }

    #scrollTop {
        float: right;
    }
}

