{%extends "layout.html"%}

<!--Content for this webpage-->
{%block content%}

<div id="wholeAbout">
    <div id="aboutWhole">

        <div id="aboutOne">
           <h1 class="textClass" id="aboutTitleOne">Management</h1>
           <p id="textOne"  class="innerAbout" >InvoSystems is owned and managed by Singaporeans with vast  experience  
               of  more than 3 decades of experience in APAC covering from Korea to Australia.
               Invosystems works closely with some exclusive local partners in the region  with strong business relationship  
               and commitment to offer wide ranges of services and delivery in the region</p>
        </div>

        <div id="aboutTwo">
            <h1 class="textClass">Business Model</h1>
        </div>

        <div id="aboutThree">
            <h1 class="textClass">About InvoSystems</h1>
        </div>

        <div id="aboutFour">
            <h1 class="textClass">Contact Us</h1>
        </div>

    </div>
</div>
{%endblock content%}


<!--Script used for this webpage-->
{%block script%}
<script src="{{url_for('static', filename = 'aboutUs.js')}}""></script>
{%endblock script%}