{%extends "layout.html"%}


{%block content%}

<!--Content for BigData goes here-->
<div id="bigDataSection">

    <!--Section { What is Big Data? }-->
    <div id="sectionOne">
        <h1>Hi</h1>
    </div>

    <!--Section { Big Data: Who benefits? }-->
    <div id="sectionTwo">
        <h1>Hi</h1>
    </div>

    <!--Section { Big Data & IoT}-->
    <div id="sectionThree">
        <h1>Hi</h1>
    </div>

    <!--Secton { Big Data services}-->
    <div id="sectionFour">
        <h1>Hi</h1>
    </div>

</div>


{%endblock content%}