{%extends "layout.html"%}


{%block content%}
    <!--Content for BigData goes here-->
    <div id="wholeSection">
        <div id="bigDataSection">

            <!--Section { What is Big Data? }-->
            <div class="sectionOne sections_Data">
                <h1>What is Big Data?</h1>
                <p class="innerSection" >
                        BigData is all about business users using the open source technology 
                        to get the business Insights to solve the business problems and/or to achieve business goals.
                        BigData is dependent on data which has 3 primary contributors like Volume (size), 
                        Velocity (speed) and Variety (data types). The data is normally classified 
                        as Structured (Databases, excel etc), Unstructured (social media, clickstream, video, audio, search etc)  
                        and Semi-structured (xml,CDR,logs etc).      
                        InvoSystems can assist customers and partners to design  
                        and setup large hadoop cluster to process large amount data in TeraBytes or PetaBytes.
                </p>
            </div>  

            <!--Images for the above section goes here-->
            <div class="sectionOne">

            </div>
            
            <!--Images for the below section goes here-->
            <div class="sectionTwo">

            </div>

            <!--Section { Big Data: Who benefits? }-->
            <div class="sectionTwo sections_Data">
                <h1>BigData: Who Benefits</h1>
                <p class="innerSection">     
                    <ul class="list">
                        <li><strong>Decision-Makers:</strong> Investment and Capacity Planning</li>
                        <li><strong>Sales:</strong> New sales, VAS, Competitive Advantage </li>
                        <li><strong>Customer Services:</strong> Customer Satisfaction, Quality Improvement, Customer Churn</li>
                        <li><strong>Marketing & Communications:</strong> Brand Building and Loyalty </li>
                        <li><strong>Intelligence & Investigation Agencies:</strong> Counter Terrorism, Communal Harmony, Internal & External Security Threats, AML </li> 
                        <li><strong>Chain & Logistics:</strong> Near Instant Manufacturing or Shelf replacement </li>  
                        <li><strong>Development:</strong> New Products, Durability, Parts, Quality</li>       
                        <li><strong>Finance:</strong> Investment and Revenue Assurance </li>
                    </ul>
                </p>
            </div>


            <!--Section { Big Data & IoT}-->
            <div class="sectionThree sections_Data">
                <h1>Big Data & IoT</h1>
                <p class="innerSection">
                        InvoSystems provides enterprise  consulting, design, delivery, implementation, 
                        testing, training  and project management services related to Big Data & IoT 
                        and supports customers and partners in the region. 

                        InvoSystems undertakes projects and consulting services for customers in BFSI, 
                        Telecom, Healthcare, Government, Energy, Oil & Gas, Retail, Smart Nation and Smart Campus.
                        
                        InvoSystems offers solutions to implement a pilot 
                        / POC system and upgrade to a large cluster in future to process large unstructured and structured data.
                </p>
            </div>

            <!--Images for the above section goes here-->
            <div class="sectionThree">

            </div>

            <!--Images for the below section goes here-->
            <div class="sectionFour">

            </div>

            <!--Secton { Big Data services}-->
            <div class="sectionFour sections_Data">
                <h1>Big Data Services</h1>
                <p class="innerSection">
                    <strong>InvoSystems provides the following consulting, design and implementation services</strong>
                    <ul class="list">
                        <li>Road Map from Data warehouse to Hadoop / Big Data</li>
                        <li>Industry Domain Use Cases</li>
                        <li>Industry expertise-BFSI, Telecom, Retail, Government</li>
                        <li>Design, Consulting & Training</li>
                        <li>Hadoop platform implementation</li>
                        <li>Design, Develop and Delivery </li>
                        <li>ETL, Data Migration, Modelling and Optimization</li>
                        <li>Predictive Analytics, BI, Analytics & Dashboards</li>
                        <li>Testing Services</li>
                        <li>Project Management </li>
                        <li>Big Data Infrastructure Support Services</li>
                    </ul>
                </p>
            </div>

        </div>

        <div id="contact">
            <!--Button that leads to the about us page-->
            <h3>Are you interested yet?  
                <button id="contactBtn"><a href="{{ url_for('aboutUs_page') }}" >Contact Us!</a></button> 
                <button id="scrollTop">Scroll to top</button>
            </h3>

        </div>
    </div>
{%endblock content%}


<!--Script ot run the page goes here-->
{%block script%}
    <script src="{{url_for('static', filename = 'bigData.js')}}""></script>
{%endblock%}