{%extends "layout.html"%}


{%block content%}

        <!--For a slide show-->
        <div id="image">

        </div>
        
        <!--What the company specialises/sevices in-->
        <div class="grid">
            <div class="head">
                <span><h1>What we specialise in..</h1></span>
            </div>

            <!--Content for it-->
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quas aut id dignissimos 
                fugiat eaque nisi perspiciatis sint ea, asperiores qui odio nesciunt nemo cupiditate 
                velit, maiores architecto, officiis vitae.
            </div>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Culpa quas aut id dignissimos fugiat eaque nisi perspiciatis 
                sint ea, asperiores qui odio nesciunt nemo cupiditate velit, maiores architecto,
                 officiis vitae.
            </div>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Culpa quas aut id dignissimos fugiat eaque nisi perspiciatis sint ea, a
                speriores qui odio nesciunt nemo cupiditate velit, maiores architecto, officiis vitae.
            </div>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Culpa quas aut id dignissimos fugiat eaque nisi perspiciatis 
                sint ea, asperiores qui odio nesciunt nemo cupiditate velit,
                maiores architecto, officiis vitae.
            </div>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Culpa quas aut id dignissimos fugiat eaque nisi perspiciatis sint ea, 
                asperiores qui odio nesciunt nemo cupiditate velit, maiores architecto,
                officiis vitae.
            </div>
        </div>
    
{%endblock content%}