{%extends "layout.html"%}


{%block content%}

        <!--For a slide show-->
        <div class="image">
            <img id="imageChange" name = "picture" alt="An image">
            <div id="content"></div>
        </div>
        
        <!--What the company specialises/sevices in-->
        <div class="grid">
            <div class="head">
                <span><h1>What we specialise in..</h1></span>
            </div>
            <!--Content for it-->    
        </div>

        <!--Shows what Is specialises in like a nav bar-->
        <div id="sNav">
            <h5 id="conSult">Consulting</h5>
            <h5 id="pro">Products</h5>
            <h5 id="eLearn">E-learning/Training</h5>
            <h5 id="Iot">IoT & Analytics</h5>
            <h5 id="block">Blockchain</h5>
        </div>  

        <!-- What InvoSystems specilaises in goes here-->
        <div class="specialise">
            
            <!-- Title goes here-->
            <div id="sTitle">
                <h1 id="titleContent">Consulting</h1>
                 <!--Picture related to the title goes here-->
                 <div id="sPicture">
                    <img name = "contentPicture" id="pictureContent" alt="Image" src= "..\static\926.png">
                </div>
            </div>
            
            <!--Content related to the title goes here-->
            <div id="sContent">

                <!--Buttons for the user to change whats on the browser-->
                <div class="button" id="button-left" onclick="leftButton()"></div>
                <div class="button" id="button-right" onclick= "rightButton()"></div>
                
                <h3><p id="paraContent">InvoSystems provides consulting, products, solutions, implementation and services related to 
                Big Data, IoT, Analytics, eLearning, Blockchain, Digital Transformation,  
                Information Search, Structured Knowledgebase,  eFAQ  and eServices Delivery support </p></h3>
            </div>
            
           


        </div>
{%endblock content%}