{%extends "layout.html"%}


{%block content%}

    <!--For a slide show-->
    <div class="image">
        <img id="imageChange" name = "picture" alt="An image">
        <div id="content"></div>
    </div>
    
    <!--What the company specialises/sevices in-->
    <div class="grid">
        <div class="head">
            <span><button id="special">Our Business's Craft</button></span>
        </div>
        <!--Content for it-->    
    </div>

    <!--Placeholder-->
    <div id="wholeThing">

        <!--Shows what Is specialises in like a nav bar-->
        <div id="sNav">
            <h4 id="conSult">Consulting</h4>
            <h4 id="pro">Products</h4>
            <h4 id="eLearn">E-learning/Training</h4>
            <h4 id="Iot">IoT & Analytics</h4>
            <h4 id="block">Blockchain</h4>
        </div>  

        <!--Content after the sNav bar-->
        <div id="homeContent">

            <div id="consultContent" class="homeText">
                <h1>Consulting</h1>
                <p>
                    InvoSystems provides consulting, products, solutions, implementation and services
                    related to Big Data, IoT, Analytics, eLearning, Blockchain, Digital Transformation, 
                    Information Search, Structured Knowledgebase,  eFAQ  and eServices Delivery support.
                </p>
            </div>

            <div id="proContent"  class="homeText">
                <h1>Products</h1>
                <p>Invosystems has built software products & portals focussing on eTraining & Certification, 
                    Structured Knowledgebase,  eServices Delivery support, Information Search,
                    eLearning & eTraining authoring tool. and eSales Management.
                </p>
            </div>

            <div id="learnContent"  class="homeText">
                <h1>E-learning/Training</h1>
                <p>
                    Invosystems offers services to Design, build, deliver eLearning & eTraining that encompass
                     Instructional Design & Courseware development, Digitization of engineering & technical documents, 
                     Build technical and non-technical knowledgebase.
                </p>
            </div>

            <div id="iotContent"  class="homeText">
                <h1>IoT & Analytics</h1>
                <p>
                    InvoSystems provides Big Data, IoT implementation services like Use Cases based solutions,
                    Design and Implementation services. InvoSystems undertakes services focussing on  Hadoop,
                    ETL, MDM, Data Migration, ETL, Analytics and Managed Services.
                </p>
            </div>

            <div id="blockContent"  class="homeText">
                <h1>Blockchain</h1>
                <p>
                    InvoSystems with its extensive experience in development,
                     IoT, Cryptography, Big data, Cyber Security is embarking on Design,
                      solutioning, Use Cases, BaaS and POC for Blockchain based applications & Services.
                </p>
            </div>

            <div id="adverContent"  class="homeText">
                <h1>Placeholder</h1>
            </div>
        </div>
        
        <div id="contact">
                <!--Button that leads to the about us page-->
                <h3><span>Are you interested yet?</span>  
                    <button id="contactBtn"><a href="{{ url_for('aboutUs_page') }}" >Contact Us!</a></button> 
                    <button id="scrollTop">Scroll to top</button>
                </h3>
    
            </div>
        
        


    </div>


{%endblock content%}


<!-- Script to run the page-->
{%block script%}
    <script src="{{url_for('static', filename = 'main.js')}}""></script>
{%endblock script%}