<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge Chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    
    <!--Using a if/else statement to determine the title of the page-->
    {%if title%}
        <title>Invosystems - {{title}}</title>
    {% else %}
        <title>Invosystems</title>
    {%endif%}

    <!--Main css for the website-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'main.css')}}">
    

</head>
<body>

    <!--Navigation bar-->
    <nav>
        <ul class="nav">
            <div class="logo">InvoSystems</div>
            <li><a href="{{ url_for('home_page') }}">Home</a></li>
            <li><a href="{{ url_for('bigdata_page') }}">Big Data</a></li>
            <li><a href="{{ url_for('service_page') }}">Services</a></li>
            <li><a href="{{ url_for('products_page') }}">Products</a></li>
            <li><a href="{{ url_for('projects_page') }}">Projects</a></li>
            <li><a href="{{ url_for('aboutUs_page') }}">About Us</a></li>
        </ul>
    </nav>

    <!--Content for other pages go here-->
    {%block content%}{%endblock%}

    <!--Copyright-->
    <div class="main-footer">
        <footer>Copyright &copy; 2018 Invosystems</footer> 
    </div>
    
    <!--Script to run JQuery in the webpage-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!--Script to run JS in the webpage-->   
    {%block script%}{%endblock%}
</body>
</html>
