<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge Chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--Using a if/else statement to determine the title of the page-->
    {%if title%}
        <title>Invosystems - {{title}}</title>
    {% else %}
        <title>Invosystems</title>
    {%endif%}

    <!--Main css for the website-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'main.css')}}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    

</head>
<body>

    <!--Navigation bar-->
    <nav>
        <!--scrollTo id is used to allow user to scroll towards the top of the page-->
        <ul class="nav" id="scrollTo">
            <div class="logo">InvoSystems</div>
            <div id="hamburger">
                <i class="fa fa-bars"></i>
            </div>

            <div id="wholeNav">
                <div id="innerNav">
                    <li><a href="{{ url_for('home_page') }}">Home</a></li>
                    <li><a href="{{ url_for('bigdata_page') }}">Big Data</a></li>
                    <li><a href="{{ url_for('service_page') }}">Services</a></li>
                    <li><a href="{{ url_for('products_page') }}">Products</a></li>
                    <li><a href="{{ url_for('projects_page') }}">Projects</a></li>
                    <li><a href="{{ url_for('aboutUs_page') }}">About Us</a></li>
                </div>
            </div>
        </ul>
    </nav>

    <!--Content for other pages go here-->
    {%block content%}{%endblock%}

    <!--Script to run JQuery in the webpage-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename = 'main.js')}}""></script>

    <!--Script to run JS in the webpage-->   
    {%block script%}{%endblock%}
</body>
</html>
