{%extends "layout.html"%}

<!--Content for this webpage-->
{%block content%}

<div id="wholeSection">

    <div id="serviceSection" >
        
        <!--Sections in the page(4)-->

        <!--section one-->
        <div id="serviceOne" class="sectionOne sections_Data " >
            <h1>eLearning & eTraining</h1>
            <p class="innerSection">

                    Invosystems offers services to Design, build and deliver eLearning & eTraining that encompass the following areas: 
                    <p>
                        <strong class="strongClass">Instructional Design & Courseware development</strong>
                        <ul class="list">
                            <li>Curriculum include Cyber Security, Big Data Analytics, Blockchain, IoT and other niche engineering areas</li> 
                            <li>Collaborate with clients based on their own curriculum.</li>
                        </ul>
                    </p>

                    <strong class="strongClass"> Digitization of engineering and technical documents</strong>
                    <ul class="list">  
                        <li>Allow quick and easy access to latest revisions</li>
                        <li>Support organisations striving towards a paperless environment</li>
                    </ul>
                    

                    <strong class="strongClass"> Build technical and non-technical knowledgebase</strong>
                    <ul class="list">  
                        <li>Build intuitive support Knowledge</li>
                        <li>Improve maintenance turnaround time</li>
                        <li>Retain expert knowledge that is available 24/7</li>
                    </ul>
            </p>
        </div>

        <div id="serImgOne" class="sectionOne"></div>

        <!--Section two-->
        
        <div id="serImgTwo" class="sectionTwo"></div>
        
        <div id="serviceTwo" class="sectionTwo sections_Data">
            <h1>Infrastructure Services</h1>

            <p class="innerSection"> Invosystems focuses on providing Infrastructure services to address various needs in the areas of Virtualisation, 
                VDI, Xendesktop, Unified Communication, Networking , SIEM, Cyber Security, Platfrom Migration to Linux, DC & Server management, 
                Storage Management, Database Management and Data LifeCycle Management. 
                InvoSystems has undertaken turnkey projects and also deployed engineers for various customers in the region.
                <br><br>
                InvoSystems focuses on providing professional services and Onsite deployments of Infrastructure resources. 
                The staffs are sourced from existing pool working with the company/partners and also from external hiring based on the requirement.        
            </p>

        </div>

        <!--Section three-->
        <div id="serviceThree" class="sectionThree sections_Data" >
            <h1>BlockChain</h1>

            <p class="innerSection">Invosystems with its extensive domain expertise in various fields, Software Product Development,  
                Big Data, IoT, Analytics, I.T Infrastructue, Cyber Security, Cryptography  is embarking on Blockchain Use cases based solution design, development, deployment and Service delivery. <br><br>
                Invosystems is inviting to collaborate and partner with academicians, developers, Industry experts, 
                enterprises, service providers, investors and individuals to design, build & operate industry specific 
                use cases and benefit from the blockchain based digital transformation growth
                Invosystems will regognise and  reward  its extended commmunity.
            </p>

        </div>
        
        <div id="serImgThree" class="sectionThree"></div>

        <!--section four-->
        
        <div id="serImgFour" class="sectionFour"></div>
        
        <div id="serviceFour" class="sectionFour sections_Data">
            <h1>Application Development</h1>

            <p class="innerSection">InvoSystems has extensive experience in undertaking custom built application projects for customers in APAC region and has experience in double byte implementions
                With its decade long experience in application development, 
                Invosystems has developed and deployed custom built applications for customer in banking, insurance, telecom, retail, manufacturing and for technology companies.
                Invosystems undertakes such development work on fixed-price or time & material basis by giving options like onsite, 
                onshore or offshore models with a combination local and expat workforce.
            </p>

        </div>
    </div>

    <div id="contact">
            <!--Button that leads to the about us page-->
            <h3>Are you interested yet?  
                <button id="contactBtn"><a href="{{ url_for('aboutUs_page') }}" >Contact Us!</a></button> 
                <button id="scrollTopService">Scroll to top</button>
            </h3>
    </div>

</div>




{%endblock content%}

<!--Script used for this webpage-->
{%block script%}
<script src="{{url_for('static', filename = 'services.js')}}""></script>
{%endblock script%}